

@media (max-width: 767px){

  .faq-wrapper{
    margin-top: 1em !important;
  }

  .faq-question{
    font-size: 1rem !important;
    padding: 0.3rem !important;
  }

  .copyright{
    margin-top: 2rem !important;
  }

  .fa-caret-down {
    position: relative !important;
    top: -4rem !important;
    left: 14rem !important;
    cursor: pointer;
    color: $black-color;
  }

  .fa-caret-up {
    position: relative !important;
    top: -4rem !important;
    left: 14rem !important;
    cursor: pointer;
    color: $black-color;
  }
}
